### Pandas

**Exercice 1 - Chargement de données :**
* Téléchargez le fichier CSV "titanic.csv" à partir du lien suivant : https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
* Utilisez Pandas pour charger ce fichier dans un DataFrame nommé "titanic_df".
* Affichez les 5 premières lignes du DataFrame pour inspecter les données.

In [1]:
import pandas as pd 

# Téléchargement du fichier titanic.csv depuis un url
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Chargement du fichier dans un DataFrame titanic_df
titanic_df = pd.read_csv(url)

# Affichage des 5 premieres lignes de titanic.csv
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

**Exercice 2 - Exploration des données :**
* Trouvez le nombre total de passagers dans le Titanic.
* Déterminez le pourcentage de passagers qui ont survécu.

In [3]:
# On recupere le nombre d'élément contenu dans titanic_df len ignore l'entete 
nombre_de_passagers = len(titanic_df)

# Calcul du nombre de survivants
nombre_survivants = (titanic_df["Survived"] == 1).sum() # nombre_survivants = titanic_df["Survived"].sum() possible aussi car les valeurs sont des 0 ou des 1 (dans python 0 == False et 1 == True)

# Calcul du pourcentage de survivants
pourcentage_survivants = (nombre_survivants/nombre_de_passagers)*100

print(f"Le pourcentage de survivant est de {round(pourcentage_survivants)}%")

Le pourcentage de survivant est de 38%

**Exercice 3 - Analyse des âges :**
* Calculez l'âge moyen des passagers.
* Trouvez l'âge le plus fréquent des passagers.

In [10]:
# Methode en dur
# On fait un tableau des ages des passagers
tab_ages = titanic_df["Age"].dropna() # dropna() permet de supprimer les cases vides et ne pas avoir de decalage avec le len() ou le sum()
# Calcul de la somme des ages
somme_age = tab_ages.sum()
# Nombre de passagers ayant un age renseigné avec len 
nombre_de_passagers = len(tab_ages)

# Calcul moyenne d'age 
moyenne_ages = somme_age/nombre_de_passagers

print(f"Moyenne d'age de {round(moyenne_ages)} ans.")

# pd.dataFrame.mean() calculer automatiquement le moyenne de toutes les valeurs de age sans compter les cases vides
age_moyen = titanic_df["Age"].mean()

print(f"Moyenne d'age de {round(age_moyen)} ans.")

# pd.dataFrame.mode() renvoi un tableau de ou des valeurs les plus presentes
tab_age_le_plus_frequent = tab_ages.mode()

# On recupere le premier element du tab_age_le_plus_frequent il contient la valeur avce le plus d'iterations dans le csv
age_le_plus_frequent = tab_age_le_plus_frequent.values[0]

print(f"L'age le plus fréquent etait de {round(age_le_plus_frequent)} ans.")

Moyenne d'age de 30 ans.
Moyenne d'age de 30 ans.
L'age le plus fréquent etait de 24 ans.