### Pandas

**Exercice 1 - Chargement de données :**
* Téléchargez le fichier CSV "titanic.csv" à partir du lien suivant : https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
* Utilisez Pandas pour charger ce fichier dans un DataFrame nommé "titanic_df".
* Affichez les 5 premières lignes du DataFrame pour inspecter les données.

In [2]:
import pandas as pd 

# Téléchargement du fichier titanic.csv depuis un url
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Chargement du fichier dans un DataFrame titanic_df
titanic_df = pd.read_csv(url)

# Affichage des 5 premieres lignes de titanic.csv
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

**Exercice 2 - Exploration des données :**
* Trouvez le nombre total de passagers dans le Titanic.
* Déterminez le pourcentage de passagers qui ont survécu.

In [3]:
# On recupere le nombre d'élément contenu dans titanic_df len ignore l'entete 
nombre_de_passagers = len(titanic_df)

# Calcul du nombre de survivants
nombre_survivants = (titanic_df["Survived"] == 1).sum() # nombre_survivants = titanic_df["Survived"].sum() possible aussi car les valeurs sont des 0 ou des 1 (dans python 0 == False et 1 == True)

# Calcul du pourcentage de survivants
pourcentage_survivants = (nombre_survivants/nombre_de_passagers)*100

print(f"Le pourcentage de survivant est de {round(pourcentage_survivants)}%")

Le pourcentage de survivant est de 38%

**Exercice 3 - Analyse des âges :**
* Calculez l'âge moyen des passagers.
* Trouvez l'âge le plus fréquent des passagers.

In [4]:
# Methode en dur
# On fait un tableau des ages des passagers
tab_ages = titanic_df["Age"].dropna() # dropna() permet de supprimer les cases vides et ne pas avoir de decalage avec le len() ou le sum()
# Calcul de la somme des ages
somme_age = tab_ages.sum()
# Nombre de passagers ayant un age renseigné avec len 
nombre_de_passagers = len(tab_ages)

# Calcul moyenne d'age 
moyenne_ages = somme_age/nombre_de_passagers

print(f"Moyenne d'age de {round(moyenne_ages)} ans.")

# pd.dataFrame.mean() calculer automatiquement le moyenne de toutes les valeurs de age sans compter les cases vides
age_moyen = titanic_df["Age"].mean()

print(f"Moyenne d'age de {round(age_moyen)} ans.")

# pd.dataFrame.mode() renvoi un tableau de ou des valeurs les plus presentes
tab_age_le_plus_frequent = tab_ages.mode()

# On recupere le premier element du tab_age_le_plus_frequent il contient la valeur avce le plus d'iterations dans le csv
age_le_plus_frequent = tab_age_le_plus_frequent.values[0]

print(f"L'age le plus fréquent etait de {round(age_le_plus_frequent)} ans.")

Moyenne d'age de 30 ans.
Moyenne d'age de 30 ans.
L'age le plus fréquent etait de 24 ans.

**Exercice 4 - Filtrage des données :**
* Créez un nouveau DataFrame "survived_df" contenant uniquement les passagers qui ont survécu.
* Créez un nouveau DataFrame "non_survived_df" contenant uniquement les passagers qui n'ont pas survécu.

In [5]:
# Création de dataFrame des passagers ayant survecus et de ceux ne l'ayant pas 
survived_df = titanic_df[titanic_df["Survived"] == 1]
non_survived_df = titanic_df[titanic_df["Survived"] == 0]

print(survived_df.head())
print(non_survived_df.head())

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
   PassengerId  Survived  Pclass                            Name   Sex   Age  \
0            1         0       3         Braund, Mr. Owen Harris  male  22.0
4            5         0       3        Allen, Mr. William Henry  male  35.0
5            6         0       3                Moran, Mr. James  male   NaN
6            7         0       1         McCarthy, Mr. Timothy J  male  54.0
7            8         0       3  Palsson, Master. Gosta Leonard  male   2.0

   SibSp  Parch     Ticket     Fare Cabin Embarked
0      1      0  A/5 21171   7.2500   NaN        S
4      0      0     373450   8.0500   NaN        S
5      0      0     330877   8.4583   NaN        Q
6      0      0      17463  51.8625   E46        S
7      3      1     349909  21.0750   NaN        S

**Exercice 5 - Statistiques des tarifs :**
* Trouvez le tarif minimum, maximum, moyen et médian payé par les passagers.

In [6]:
# On créer un tableau contenant toutes les valeurs de Fare sans les cellules vides grace a dropna()
tab_fare = titanic_df["Fare"].dropna()

# Calculs des tarifs min, max, moyen, et median
min_fare = tab_fare.min()
max_fare = tab_fare.max()
moyenne_fare = tab_fare.mean()
median_fare = tab_fare.median()

print(f"Tarif minimum de: {min_fare} euros")
print(f"Tarif maximum de: {max_fare} euros")
print(f"Tarif moyen de: {moyenne_fare} euros")
print(f"Tarif median de: {median_fare} euros")

Tarif minimum de: 0.0 euros
Tarif maximum de: 512.3292 euros
Tarif moyen de: 32.204207968574636 euros
Tarif median de: 14.4542 euros

**Exercice 6 - Traitement des valeurs manquantes :**
* Téléchargez le fichier CSV "sales_data.csv" à partir du lien suivant : https://github.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example/blob/master/data/sales_data.csv
* Chargez le fichier dans un DataFrame nommé "sales_df".
* Affichez le nombre de valeurs manquantes dans chaque colonne du DataFrame.

In [ ]:
#url_2 = "https://raw.githubusercontent.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example/refs/heads/master/data/sales_data.csv"
url_2 = "https://raw.githubusercontent.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example/master/data/sales_data.csv"

sales_df = pd.read_csv(url_2)

# Nombre de valeurs manquantes par colonne
# .isnull() retourne un dataFrame de meme taille que saleds_df chaques cellules contient True si elle contient une valeur False sinon
# True == 1 et False == 0 
# .sum() va donc faire +0 si la cellule est remplie car isnull() sera faux donc == 0 et si la cellule est vide il prendra +1
nombre_val_manquantes = sales_df.isnull().sum()

print(nombre_val_manquantes)

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

**Exercice 7 - Suppression des doublons :**
* Téléchargez le fichier CSV "GlobalLandTemperaturesByMajorCity.csv" à partir du lien suivant : https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data?select=GlobalLandTemperaturesByMajorCity.csv
* Chargez le fichier dans un DataFrame nommé "duplicate_df".
* Supprimez les lignes en double du DataFrame.
* Afficher la taille des Dataframes avant et après

In [8]:

url_3 = "https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data?select=GlobalLandTemperaturesByMajorCity.csv"
duplicate_df = pd.read_csv(url_3)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 2